/* styles.css */
body {
  font-family: Arial, sans-serif;
  line-height: 2.0;
  margin: 0;
  padding: 0;
}

header {
  background-color: #333;
  color: #fff;
  padding: 15px 0;
}

nav ul {
  list-style-type: none;
  margin: 50;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 50px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

.hero {
  background-color: #f0f0f0;
  padding: 50px;
}

.features {
  padding: 50px;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px 0;
}